$ionicons-font-path: "/fonts/ionicons" !default;
@import "../node_modules/ionicons/dist/scss/ionicons";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.navbar {
  border-bottom: 1px solid #ddd;
}